        img {
            border: 5px solid black;
        }
/*    brown color= #9c5605*/
        a:link {
            color: darkslategray;
            background-color: transparent;
            text-decoration: none;
            font-size: 50px;
            text-shadow: 1px 1px black;
        }
a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 1px 1px black;
}
a:hover {
    color: darkslateblue;
    background-color: transparent;
    text-decoration: none;
    font-size: 50px;
    text-shadow: 1px 1px black;
}
        h1 {
            font-size:50px;
            text-align: center;
            color: darkslategray;
            font-family: 'Trebuchet MS';
            text-shadow: 2px 2px black;
        }
        h2 {
            color: paleturquoise;
            font-family: 'Trebuchet MS';
            text-shadow: 2px 2px black;
        }
        p {
            text-align: justify;
            color: rgb(214, 224, 249);
            font-family:'Trebuchet MS';
            text-shadow: 2px 2px black;
        }
body {
    background-image: url('https://img.freepik.com/free-photo/top-view-books-with-copy-space_23-2148827187.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
